/* index.css */

/* Define root variables and default styles */
:root {
  font-family: Gotham, Helvetica, Arial, sans-serif, Vedana;
  line-height: 1.5;
  font-weight: 400;

  --column-width: 70px;
  --gutter-width: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* the width and height include the content, padding, and border */
}

html,
body {
  height: 100%;
  width: 100%;
}
