/* HeroSection.css */

.hero-background {
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  position: relative;
  width: 100%;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 50px 0px 50px;
  position: relative;
}

.hero-content {
  /* outline: 3px solid plum; */
  margin-top: 20px;
  max-width: 600px;
  color: #333;
  padding-bottom: 60px;
}

.hero-content h1 {
  font-weight: bold;
  line-height: 1.2;
  color: var(--primary-color);
}

.hero-content p {
  /* outline: 3px solid plum; */
  max-width: 600px;
  color: var(--secondary-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-content .hero-title {
  display: inline-block;
  font-size: 48px;
}

.hero-content .hero-slogan {
  display: inline-block;
  font-size: 18px;
  line-height: 1.1;
  margin-left: 20px;
}

.hero-content .hero-slogan span {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
}

.orange-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apply-button {
  background-color: darkorange;
  border: 6px solid white;
  /* Padding logic: clockwise */
  height: 60px;
  width: 250px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 30px;
  box-sizing: border-box;
}

.apply-button:hover {
  background-color: white;
  border: 6px solid darkorange;
  /* Padding logic: clockwise */
  height: 60px;
  width: 250px;
  padding: 15px 30px;
  color: darkorange;
  font-size: 19px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.35s;
  box-sizing: border-box;
}

.watch-section {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  /* padding: 6px; */
  margin-left: 25px;
}

.watch-button {
  height: 50px;
  cursor: pointer;
}

.watch-text {
  margin-left: 20px;
  line-height: 1.25;
  font-style: italic;
  /* outline: 3px solid plum; */
}

.man-on-mountain {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}
