.navbar-container {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1200px;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 60px;
}

.navbar-links {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  margin-right: 15px; /* Increase horizontal space between links  */
  margin-left: 15px; /* Increase horizontal space between links  */
  gap: 0px;
}

.navbar-links a {
  color: #547dc0;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px; /* Increase horizontal space between links  */
}

.navbar-links a:hover {
  color: #042458;
}

/* !!! Remove the margin-right from the last link to avoid extra space */
.navbar-links a:last-child {
  margin-right: 0;
}

.navbar-apply button {
  background-color: white;
  border: 2px solid darkorange;
  /* Padding logic: clockwise */
  padding: 10px 20px;
  color: darkorange;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
}

.navbar-apply button:hover {
  background-color: darkorange;
  color: white;
  border: 2px solid darkorange;
  font-weight: 800;
}
